Importing the libraries:

In [46]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

Data Collection and analysis:

In [47]:
#loading the csv file into pandas dataframe:
df = pd.read_csv('/content/drive/MyDrive/insurance.csv')

In [48]:
#printing the first five rows of the dataset:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [49]:
#printing the last five rows of the dataset:
df.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [50]:
#number of rows and columns:
df.shape

(1338, 7)

In [51]:
#number of missing values:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [52]:
#more information about the dataset:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

Data Analysis:

In [53]:
#statistical measure of the dataset:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

Categorical Columns:

Sex

Smoker

Region

In [54]:
df['smoker'].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [55]:
df['sex'].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [56]:
df['region'].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

Encoding the categorical features:

In [57]:
#encoding 'sex' columns:
df.replace({'sex':{'male':0,'female':1}}, inplace = True)

#encoding 'smoker' column:
df.replace({'smoker':{'yes':1,'no':0}}, inplace = True)

#encoding 'region' column:
df.replace({'region':{'southeast':0,'southwest':1,'northeast':2,'northwest':3}}, inplace = True)

In [58]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       1       1  16884.92400
1   18    0  33.770         1       0       0   1725.55230
2   28    0  33.000         3       0       0   4449.46200
3   33    0  22.705         0       0       3  21984.47061
4   32    0  28.880         0       0       3   3866.85520

Splitting the features and target:

In [59]:
X = df.drop(columns='charges', axis=1)
Y = df['charges']

In [60]:
print(X)

      age  sex     bmi  children  smoker  region
0      19    1  27.900         0       1       1
1      18    0  33.770         1       0       0
2      28    0  33.000         3       0       0
3      33    0  22.705         0       0       3
4      32    0  28.880         0       0       3
...   ...  ...     ...       ...     ...     ...
1333   50    0  30.970         3       0       3
1334   18    1  31.920         0       0       2
1335   18    1  36.850         0       0       0
1336   21    1  25.800         0       0       1
1337   61    1  29.070         0       1       3

[1338 rows x 6 columns]

In [61]:
print(Y)

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

Splitting the data into testing data and training data:

In [62]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2)

In [63]:
print(X.shape, X_train.shape, X_test.shape)

(1338, 6) (1070, 6) (268, 6)

Model Training:

Linear Regression:

In [64]:
model = LinearRegression()

In [65]:
model.fit(X_train, Y_train)

LinearRegression()

Model Evaluation:

In [66]:
#prediction on training_data:
training_data_prediction = model.predict(X_train)

In [67]:
#R scored value:
r2_train = metrics.r2_score(Y_train,training_data_prediction)
print('R scored value:' , r2_train)

R scored value: 0.751505643411174

In [68]:
#prediction on test data:
testing_data_prediction = model.predict(X_test)

In [69]:
#R scord value:
r2_test = metrics.r2_score(Y_test,testing_data_prediction)
print('R scored value:' , r2_test)

R scored value: 0.7447273869684077

Building a predictive system:

In [70]:
input_data = (31,0,25.74,1,1,0)

#changing tha input data into numpy array:
input_data_as_numpy_array = np.asarray(input_data)

#reshape the array:
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction= model.predict(input_data_reshaped)
print(prediction)

print('The insurance cost is USD', prediction[0])

[28242.33951041]
The insurance cost is USD 28242.339510408612

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"